h1,h2{
    border: 2px solid gray;
    width: 500px;
    height: 100px;
    margin: 50px;
    display: inline;
}

a{
    display: inline-block;
    border: 2px solid palevioletred;
    height: 100px;
    width: 100px;
    margin-top: 40px;
}

img{
    height: 200px;
    width: 500px;
    margin-top: 50px;
}