h2{
    /* border: 4px solid red; */
    /* border-width: 8px;
    border-style: ridge;
    border-color: palevioletred; */

    /* border-bottom: 4px solid red;
    border-top: 6px dotted palevioletred;
    border-style:  5px inset red;*/

    border:  5px outset red;
} 

img{
    border:  4px solid yellowgreen;
}

div{
    border: 8px solid gold;
}

p{
    border: 5px dotted red;
}

span{
    border: 5px solid rebeccapurple;
}