h1{
    border: 10px dotted rebeccapurple;
    /* padding-left: 50px;
    padding-right: ;
    padding-top: ;
    padding-bottom: ; */
    /* margin: 40px; */
    padding: 10px 30px 40px 60px;
    /* margin-right: 70px;
    margin-top: ;
    margin-bottom: ;
    margin-left: ; */

   margin: 20px auto;
   background-color: yellowgreen;
}

a{
    border: 5px solid springgreen;
    margin-top: 500px; 
    margin-bottom: 500px;
    padding: 40px;
    width: 100px;
    height: 100px;
}

img{
    /* width: 500px;
    height: 700px; */
    border: 6px solid rgb(29, 30, 28);
    /* padding: 20px; */
    margin-top: 500px;
}
h2{
    border: 4px solid rebeccapurple;
    margin-top: 500px;
}