/* *{
  color: aqua;  
} */

/* Descendant Seelector */
header p{
    background-color: aqua;
}

li a{
    color: red;
}

/* Direct child selector */
section.my-article  h2{
    color: palevioletred;
}

/* Adjacent Selector */
h2+p{
    color: brown;
}

ul+p{
    color: tomato;
}

section.my-article h2+p{
    color: pink;
}