/* inline style attribute > id selector > class selector > element selector */


div#container ul.my-songs li{
    color: brown;
    background-color: yellow;
}

div#container ul.my-songs li.favourite{
    color: yellow;
    background-color: brown;
}

/* How to calculate specificity */
/* 0, 1, 1, 3 ----> 113 */

/* 0,0,1,0 ----> 10 */
/* 0,1,2,3 ----> 123 */
